body {
    font-family: 'Rubik', sans-serif;
}
#mpv {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 10px;
    color: #1baaec;
    transition: all 0.15s ease;
}
#mpv:hover {
    background-color:#1baaec;
    color: white;
}

.submenu {
    position: absolute;
    top: 100%;
    background-color: #ffffff;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-height: 0;
    transition: max-height 2s ease;
    overflow: hidden;
}
.submenu.show {
    max-height: 300px
}
.submenu ul {
    display: inline-block;
    align-items: stretch;
    padding: 10px;
}
.submenu ul li {
    position: relative;
    display: block;
    width: 100%;
}
.submenu ul li mpv {
    width: 100%;
}





