
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/*resetear por defecto css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*fondo*/
body {
    background-color: #242430;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    min-height: 80vh;
}

/* alineacion de pagina*/
.swiper-slide{
    padding: 0 20px 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*flechas cambio producto*/
.swiper-button-prev::after{
    font-size: 25px;
}

.swiper-button-next::after{
    font-size: 25px;
}

.swiper-button-prev{
    color: #FEFFFF;
}

.swiper-button-next{
    color: #FEFFFF;
}

/*bolitas debajo de producto */
.swiper-pagination-bullet{
    background-color:#747474 ;
    opacity: 1;
}

.swiper-pagination-bullet-activate {
    background-color: #7270EC;
}


.menu .container{
    align-items: right;
}
.menu .navbar ul li{
    position: top;
    float: right;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FEFFFF;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #7270EC;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
    text-align: right;
}







.header-info{
    display: flex;
}

.header-txt {
    width: 10%;
}

.header-txt h1 {
    font-size: 50px;
    color: #FEFFFF;
    text-transform: capitalize ;
}

.header-img {

    width: 50%;
    text-align: center;
}

.header-img img {
    width: 500px;
}

.comboimg{
    width: 70px;
    height: 40px;
    top: 300px;
    align-items: left;
}

.prices {
    display: flex;
    margin: 20px 0;
}

.price-1 {
    font-size: 30px;
    color: #747474;
    text-decoration:  line-through;
    margin-right: 25px;
}

.price-2{
    font-size: 30px;
    color: #7270EC !important;
}

.btn-1 {
    display: inline-block;
    background-color: #d8d8d88d;
    color: #FEFFFF;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 25px;
    margin-top: 60px;
}

.btn-1:hover {
    background-color: #6C69F9;
}

hr {
    border: 1PX solid #7A7B8F16;
}

.promos {
    padding: 50px 0;
    text-align: center;
}

.promo h2 {
    font-size: 50px;
    color: #FEFFFF;
    margin-bottom: 35px;
}

/*promociones abajo de imagen principal*/
.categories {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.categorie {
    display: flex;
    align-items: center;
    padding: 35px;
}

.categorie img {
    width: 150px;
}

.categorie-1 {
    width: 50%;
}

.categorie-1 h3 {
    color: #FEFFFF;
    font-size: 22px;
    font-weight: 600;
}

.categorie-1 p {
    color: #747474;
    font-size: 18px;
}

.categorie-img {
    width: 50%;
} 

.products {
    padding: 50px 0;
}

.products h2 {
    font-size: 50px;
    color: #FEFFFF;
    margin-bottom: 70px;
}

.product {
    text-align: center;
}

.product img {
    width: 150px;
    margin-bottom: 15px;
}

.product-txt h3 {
    font-size: 20px;
    color: #FEFFFF;
    margin-bottom: 40px;
}

.product-txt p {
    color: #747474;
    font-size: 19px;
    margin-bottom: 30px;
}

.precio {
    color: #7270EC !important;
}

.btn-3 {
    display: inline-block;
    padding: 10px 25px;
    font-size: 14px;
    color: #FEFFFF;
    border:  1px solid #7270EC;
    border-radius: 25px;
    margin-top: 15px;
}
.btn-3:hover {
    background-color: #7270EC;
}

.footer {
    display: flex;
    padding: 30px 0;
}

.link {
    width: 20%;
}

.link h3 {
    color: #FEFFFF;
    margin-bottom: 20px;
}

.link a {
    color: #747474;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}

.link p {
    color: #747474;
    font-size: 16px;
}



/*TIENDA*/




.color-txt{
    color: #FEFFFF;
}

.infoAudi {
    position: relative;
    left: 80px;
}

#auri {
    position: relative;
    left: 250px;
    top: 40px;
    height: 650px;
    width: 560px;
}

.comboteclado {
    position: relative;
    right: 150px;
}

#comboteclado {
    position: relative;
    right: 100px;
    bottom: 100px;
}

.combopc {
    position: relative;
    left: 50px;
}

#combopc {
    height: 750px;
    width: 750px;
    position: relative;
    left: 170px;
}

.botonagregar1 {
    position: relative;
    bottom: 10px;
}

.botonagregar2 {
    position: relative;
    bottom: 34.5px;
}

.botonagregar3 {
    position: relative;
    top: 6px;
}

.botonagregar4 {
    position: relative;
    bottom: 10px;
}

.reloj {
    position: relative;
    top: 45px;
}

#reloj {
    height: 140px;
    width: 185px;
}

#demo {
    color: white;
}

#edilete {
    color: rgb(255, 0, 85);
    text-decoration: none;
}

#edilete1 {
    color: rgb(81, 255, 0);
    text-decoration: none;
}

/*CARRRORORORO*/

.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}

/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    /* width: 60%; */
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    max-width: 200px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
    width: 100%;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.carrito{
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    /* Estilos para ocultar */
    margin-right: -100%;
    opacity: 0;
}
.carrito .header-carrito{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}
.carrito .carrito-item img{
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
    .contenedor {
      display: block;
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
  }

